page-favourites {
    
.photo{
    width: 100%;
}

.name{
    font-family: AxiForma;  
    font-weight: bold;
    color: rgb(18, 26, 73);
    font-size: 34px; 
}

.time{
    color: red;
    font-family: AxiForma; 
    font-weight: bold;
    font-size: 18px;
    
}

.des{
    font-family: AxiForma; 
    font-weight: bold;
    color: #00093C;
    font-size: 24px
}

}
