page-home {



  .card{
     padding-top: 0px;
     margin-top: 0px;
  
  }
        
  .sora {
          margin-left: 35%;
        } 
  
  .details{
      text-align: center;
      font-family: AxiForma;
      font-weight: bold;
      color: #00093C;
      font-size: 18px;
  }
  
  .hint  {
      text-align: center;
      font-family: AxiForma;
      font-weight: bold;
      color: #00093C;
      font-size: 18px;
   } 
  
   h3 {
  
    text-align: center;
    font-family: AxiForma;
    font-weight: bold;
    color: gray;
  }
  
  
  
  h2 {
  
    text-align: center;
    font-family: AxiForma;
    font-weight: bold;
    color: #00093C;
  }
  
  
        .g{ 
            width: 100%;
        }
  
      .c{
          width: 49%;
      }
  
  
        .r{
            margin-left: 25%;
        }
  
        .p{
          margin-left: 15%;
        }
  
        .pp{
          margin-left: 12%;
        }
  }
  
