page-options {
    
 #optionlist button
 {
     font-family: Arial,sans-serif,cursive;
     //font-weight: bold;
     color:black;
     padding:2px;
     width:180px;
 }
 #optionlist button ion-icon
 {
     color:lightgray;
 }
}
