page-setting { 
#avatar
 {
     position: relative;
     margin:auto;
     width: 150px;
     box-sizing: border-box;
     height:150px;
     border-radius:100%; 
     border: 2px solid  #00093C;
     //border:2px solid color($colors,danger);
     object-fit:contain;
     overflow: hidden;
 }
 #Photo
 { 
     position: relative;
     margin:auto;
     width: 200px;
     box-sizing: border-box;
     height:180px;
     border-radius:100%; 
     border:none;//2px solid color($colors,danger);/
     object-fit:contain;
     overflow: hidden;
 }
 #Photo ion-fab
 {
    position: relative;
    right:-125px;
    top:-50px;
    z-index: 1;
    
 }
 #Photo ion-fab button
 {
    background-color:#075682;
    width:50px;
    height: 50px;
    border: 1px solid white;
 }
 
 ion-list ion-item
 {
     position: relative;
     right:0px;
 }
 ion-list ion-label
 {
     font-family: AxiForma;
 }
 .changePassword
 {
     box-sizing: border-box;
     -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
     -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
     box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
     margin:5px;
 }
 .changePassword ion-item
 {
     
     position: relative;
     right:0px;
 }
 
 .changePassword ion-item-divider
 {
     color:whitesmoke;
     font-family: AxiForma;
     font-weight: bold;
     background-color:color($colors,danger);
 }
.changePasswordbutton
 {
     position: relative;
     left:30%;
 }
 .error
 {
     padding:2px;
     font-family: AxiForma;
     color:red;
 }
 .changePassword .error
 {
     
     text-align: left;
     margin:auto; 
     color:red;
     position: relative;
     left:10px;
 }
 .inputErorr ion-input
 {
     border: 1px solid red ;
     color:red;
 }
 .hero-image {
     //background: url("../assets/imgs/Hisik-Logo-Icon.png") no-repeat center; 
     background-size: cover;
     height: 400px;
     width: 100vw !important;
     left:-16px;
     position: relative;
     top:30px;
     font-family: AxiForma;
     font-weight: bold;
 }
  
  .hero-text {
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #9E9E9E;

  }
  .hero-text .authbutton
  {
      width:200px;
      position: relative;
      top:50px;
      left:20px;
      left:20px;
  }  
  .hero-text  h1 span 
  {
      display: block;
      color: #5A5A5A;
  }
  #authlog
  {
      background-color: #075682;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      border: 1px solid white;
  }
}
