page-scanned-products {



  .gird{
        width: 100%;
    }

  .col{
      width: 49%;
  }

  .photo{
    width: 100%;
  }
  .name{
    font-family: AxiForma; 
    font-weight: bold;
    color: rgb(18, 26, 73);
    font-size: 28px;
  }


  .red{
    color: red;
    font-family: AxiForma; 
    font-weight: bold;
    font-size: 18px
  }

  .data{
    font-family: AxiForma; 
    font-weight: bold;
    color: #00093C;
    font-size: 18px
  }

  .warnning{
    text-align: center;
    font-weight: bold;
  }

}
 
