page-forgetpassword {
 .forget-content{

    background-image: url("../assets/imgs/signup-background.jpg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed;
    //background-position: 0px 60px;
    background-position: center 50px ;
    //opacity: 0.8;

 
    .btn{
        color: rgb(165, 34, 34);
        background: rgb(231, 205, 205);
            //border-radius: 40px !important;
            //border: 1px solid red;
          }

    
     h2{
        padding-top: 20px;
        color:whitesmoke;
        font-family: AxiForma; 
        text-align: center;
        font-weight: bold;
        color: #DCD0CD;
        font-size: 26px

    }

    p{
        color:whitesmoke;
        font-family: AxiForma; 
        //text-align: center;
        font-weight: bold;
        color: #DCD0CD;
        font-size: 26px

    }
    }

}
